:root,
.light {
	--tr-background: rgb(229 231 235);
	--tr-border: rgb(209 213 219);
}

[data-theme='dark'],
.dark {
	--tr-background: rgb(17 24 39);
	--tr-border: rgb(3 7 18);
}

.tyger-avatar {
	background-color: var(--tr-background);
	border: 1px solid var(--tr-border);
	display: inline-flex;
	align-items: flex-start;
	justify-content: center;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 50%;
	padding: 0;
	margin: 0;
}

.tyger-avatar > * {
	-webkit-transform: scale(0.9) translateX(-8px);
	-ms-transform: scale(0.9) translateX(-8px);
	transform: scale(0.9) translateX(-8px);
}
